<style>
  table {
    border: 1px solid;
    border-collapse: collapse;
  }
  th, td {
    text-align: left;
    padding: 10px;
    border: 1px solid;
  }
</style>
<div>
  price list
</div>
<table>
  <thead>
    <tr>
      <th>id</th>
      <th>名称</th>
      <th>批次</th>
      <th>价格</th>
    </tr>
  </thead>
  <tbody>
    <% infoList.forEach((tea) => { %>
      <tr>
        <td><%= tea.id %></td>
        <td><%= tea.name || 'null' %></td>
        <td><%= tea.number %></td>
        <td><%= tea.price %></td>
      </tr>
    <% }); %>
  </tbody>
</table>